.eventButton{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.events {
    background-color: aqua;
    justify-content: center;
    text-align: center;
    width: 340px;
    white-space: nowrap;
    padding: 5px;

}


