.header {
   margin-top: 50px;
   }

   .NewsButton{
       display: flex;
       justify-content: center;
       padding-top: 10px;
       padding-bottom: 10px;
    }
    .content {
       display: flex;
       flex-flow: row wrap;
       justify-content: row;
       align-content: center;

       text-align: center;
       width: 100%;
       white-space: nowrap;
       padding: 5px;

    }
    .card {
       display: flex;
       width: 240px;
       height: 240px;
       text-align: center;

    }
    .card-title {
       text-align: center;
       justify-content: space-evenly space-around;
    }
    .card-edit {
       background-color: green;
       color: white;
       align-content: center;
    }
    .card-delete {
       background-color:red;
       color: white;
    }
    .btn-success {
       background-color: blue;
       color: white;
    }

    .timestamp {
   display:flex;
   font-size: .5em

    }